body {
  margin: 0;
  font-family: Oswald;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.auth-form {
  margin: auto;
  width: 70%;
  border: solid black 2px;
  border-radius: 10px;
}
