
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Source+Code+Pro:wght@300;400;700&display=swap');

* {
  font-family: 'Source Code Pro', monospace;
}

body {
  margin: 0;
  font-family: 'Scope One'
}

/* HOME PAGE */
.welcome-section {
  margin-top: 7%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-title{
  font-size: 60px;
  font-weight: bold;
}

.git-input {
  font-family: 'Bungee Shade', cursive;
  font-size: 80px;
}

.site-description {
  margin-top: 40px;
  width: 50%;
  text-align: center;
  font-size: 20px;
  line-height: 1.7;
}

/* NAV-BAR */
.nav-bar {
  background-color:#404040
}

.site-name {
  font-family: 'Bungee Shade', cursive;
  font-size: 40px;
  margin: 0;
  color: white;
  text-decoration: none;
}

.site-name:hover {
  color:#CAEBF2;
}

.welcome-nav {
  color:#CAEBF2;
}

.nav-item {
  color: white;
  text-decoration: none;
}

.nav-item:hover {
  color:#CAEBF2;
}


/* COMPANY INDEX */
.auth-form {
  margin: auto;
  width: 70%;
  border: solid black 2px;
  border-radius: 10px;
}

.company-index {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 0px;
}

.company-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CAEBF2;
  height: 100vh;
  width: 25vw;
}

.company-search-box {
  margin: 15px;
}

.company-card-container {
  background-color: #EFEFEF;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 30%;
  justify-content: center;
  width: 70vw;
  margin: 0;
  height: 100vh;
  overflow: scroll;
}

.company-card {
  display: flex;
  align-items: center;
  margin: 15px;
  padding: 10px;
  width: 30%;
  min-height: 300px;
  max-height: 340px;
}

.company-name {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.logo-index-container {
  max-height: 100px;
  margin: 0;
}

.logo-company-index {
  max-height: 80px;
  object-fit: contain;
}

.index-review-container {
  font-weight: bold;
}

.index-btn-container{
  margin-top:20px;
}

.company-button {
  border: solid 2px #404040;
  color: #404040;
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 10px;
  margin: 0px 10px 10px 10px;
}

.company-button:hover {
  background: #CAEBF2;
  color: #404040;
  cursor: pointer;
}

.description-container {
  min-height: 25%;
  width: 270px;
}

.company-description {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: normal;
  max-height: 100px;
  font-size: 12px;
}

.search-btn {
  border: solid 2px #404040;
  color: #404040;
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 10px;
  margin: 0px 10px 10px 10px;
}

.search-btn:hover {
  background-color: #404040;
  color: white;
}

/* COMPANY PROFILE */
.company-profile {
  height: 75vh;
  border-radius: 10px;
  background-color: white;
  border: 2px solid black;
}

.title-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 100%;
  height: 20%;
  margin: 0 0 30px 0;
  background-color: #CAEBF2;
}

.profile-title {
  font-size: 250%;
  font-weight: bold;
}

.profile-logo {
  margin: 10px 20px;
  max-height: 150px;
  max-width: 200px;
  object-fit: contain;
}

.profile-description {
  height: 150px;
  margin: 20px 30px 20px 30px;
}

.company-update-btns {
  display: flex;
  margin: auto;
}


/* REVIEW INDEX */
.scroll {
  overflow: scroll;
  height: 75%;
}

.review-company{
  font-size: 30px;
  font-weight: bold;
}

.review-index-card {
  background-color: #EFEFEF
}

.likes-num {
  font-size: 20px;
  font-weight: bold;
}

.review-index-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  margin: 10px 15px 0px;
  gap: 15px;
}

.review-index-title {
  font-size: 20px;
}

.stars {
  min-width: 150px;
}

.review-index-section {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.review-user {
  font-size: 20px;
  margin: 0px;
}

/* REVIEW SHOW */
.show-review-container {
  margin-top: 20px;
  margin-left: 3%;
  flex: 1;
}

.review-title {
  margin-right: 30px;
  font-size: 25px;
  font-weight: bold;
}

.review-card {
  margin: auto;
  width: 85%;
  height: 50vh;
  border: 2px solid black;
  background-color: white;
  border-radius: 5px;
  padding: 25px 25px 0px 25px;
  position: relative;
}

.review-info {
  display: flex;
}

.review-section-1 {
  flex: 6;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}

.rating-item {
  padding: 5px;
}

.review-section-2 {
  margin-top: 10px;
  margin-bottom: 20px;
  height: 110px;
  overflow: scroll;
}

.review-btns {
  display: flex;
  margin-top: 25px;
  align-items: center;
  position: absolute;
  padding: 5px;
  right: 0;
  bottom: 0;
}

.drop-down-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
  border: solid 2px #404040;
  color: #404040;
  padding: 5px;
  border-radius: 10px;
}

.drop-down-btn:hover {
  background-color:#CAEBF2
}

.like-btn {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.like-btn:hover, .comment-btn:hover {
  background-color: #CAEBF2;
  color: black;
}

.comment-btn {
  background-color:white;
  border: #404040 solid 2px;
  color: #404040;
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 10px;
  margin: 0px 10px 10px 10px;
}

.comment-like-btn:hover {
  background-color:#404040;
  color: white;
}

.create-review-title {
  font-size: 30px;
  font-weight: bold;
}

.review-form {
  text-align: left;
}

.review-stars {
margin: auto;
}

.label {
  font-weight: bold;
}


/* //////////////// */
.review-show-page {
  display: flex;
}

.review-show-comments {
  flex: 1;
}

.comment-container {
  margin: auto;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  height: 80vh;
  width: 75%;
  overflow: scroll;
}

.review-company-container {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.num-likes {
  font-size: 30px;
}

.review-dates {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px 25px;
}

.comment-create {
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
  width: 85%;
  margin: 20px auto;
  background-color: white;
}

.comment-box {
  padding: 15px;
  border-radius: 10px;
  background-color:#EFEFEF;
  margin: auto;
  width: 80%;
  font-size: 17px;
  position: relative;
}

.comment-edit-btn {
  position: absolute;
  right: 0;
  bottom: 0;
}

.comment-delete-btn {
  padding: 0px 6px;
  margin: 10px;
  position: absolute;
  right: 0;
  top: 0;
  border: 2px solid black;
  border-radius: 5px;
}

.comment-delete-btn:hover {
  background-color: #f95959;
  color: white;
}

.comment-btn-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  position: absolute;
  top: 15%;
  right: 0;
}
